# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenv
.venv/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Secrets & env
.ssh/
.env
.env.*
*.secret

# Environnements / IDE
.venv/
.env
.env.*
.vscode/
.idea/
.DS_Store

# Docker
*.env.docker

# Migrations: on les versionne ! (ne pas ignorer)
**/migrations/*.py
!**/migrations/__init__.py

# Never commit local secrets/dotfiles
.ssh/
.bash_history
.bashrc
.profile
.python_history
